
body {
}

#rbd {
  background-image: url('https://raw.githubusercontent.com/kvul/site/master/rbd.png');
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  z-index: 0;

}
#rbd:hover {
    background-image: url('https://raw.githubusercontent.com/kvul/site/master/rbdroll.png');
}

