
body {
}

#rbd {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
  z-index: 0;

}
#rbd:hover {
    background-image: ('rbdroll.png');
    height: 100%;
    width: 100%;
}

